body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
    text-align: center;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    float: right;
    background-color: #ddd;
    color: black;

  }
  
  .topnav a.active {
    float: center;
    background-color: white;
    color: black;

  }